<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Application Status</title>
</head>
<body>

    <h2>Application Update</h2>

    <p>Hello {{ candidate.user.first_name|default:candidate.user.email }},</p>

    <p>
        Thank you for applying for
        <strong>{{ job.title }}</strong>.
    </p>

    <p>
        We regret to inform you that you were not selected for this position.
    </p>

    <p>
        We encourage you to apply for future opportunities.
    </p>

</body>
</html>